<section class="yahts section">
  <div class="yahts-container container">
    <div class="yahts-head">
      <p class="yahts-text">
        Choose your dream yacht and sail away into the sunset
      </p>
      <a class="yahts-btn btn" href="">Yacht rental</a>
    </div>
    <!-- Slider main container -->
    <div class="swiper yahts-swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper yahts-swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide yahts-swiper-slide">
          <div class="yahts-slide-top">
            <img
              src="./img/yahts/img_01@1x.jpg"
              srcset="
                ./img/yahts/img_01@1x.jpg 1x,
                ./img/yahts/img_01@2x.jpg 2x
              "
              alt="yaht"
              class="yahts-slide-img"
              width="299"
              height="251"
            />
          </div>
          <div class="yahts-slide-body">
            <div class="yahts-slide-title">
              <p class="yahts-slide-name">Arrow</p>
              <p class="yahts-slide-class">LUXURY YAHTS</p>
            </div>
            <table class="yahts-slide-discription table">
              <tr class="table-row">
                <th class="table-title">LENGTH</th>
                <td class="table-value">48m(155ft)</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">BUILDER</th>
                <td class="table-value">Admiral</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">BUILT</th>
                <td class="table-value">2021</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">GUESTS</th>
                <td class="table-value">11 in 5 cabins</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">PRICE</th>
                <td class="table-value">€33,500,000</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="swiper-slide yahts-swiper-slide">
          <div class="yahts-slide-top">
            <img
              src="./img/yahts/img_02@1x.jpg"
              srcset="
                ./img/yahts/img_02@1x.jpg 1x,
                ./img/yahts/img_02@2x.jpg 2x
              "
              alt="yaht"
              class="yahts-slide-img"
              width="299"
              height="251"
            />
          </div>
          <div class="yahts-slide-body">
            <div class="yahts-slide-title">
              <p class="yahts-slide-name">BENETTI OASIS 40M BO122</p>
              <p class="yahts-slide-class">LUXURY YAHTS</p>
            </div>
            <table class="yahts-slide-discription table">
              <tr class="table-row">
                <th class="table-title">LENGTH</th>
                <td class="table-value">41m (133ft)</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">SHIPYARD</th>
                <td class="table-value">Benetti</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">BUILT</th>
                <td class="table-value">2025</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">GUESTS</th>
                <td class="table-value">10 in 5 cabins</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">PRICE</th>
                <td class="table-value">€23,210,000</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="swiper-slide yahts-swiper-slide">
          <div class="yahts-slide-top">
            <img
              src="./img/yahts/img_03@1x.jpg"
              srcset="
                ./img/yahts/img_03@1x.jpg 1x,
                ./img/yahts/img_03@2x.jpg 2x
              "
              alt="yaht"
              class="yahts-slide-img"
              width="299"
              height="251"
            />
          </div>
          <div class="yahts-slide-body">
            <div class="yahts-slide-title">
              <p class="yahts-slide-name">BELLE ANNA</p>
              <p class="yahts-slide-class">LUXURY YAHTS</p>
            </div>
            <table class="yahts-slide-discription table">
              <tr class="table-row">
                <th class="table-title">LENGTH</th>
                <td class="table-value">50m(155ft)</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">SHIPYARD</th>
                <td class="table-value">ISA</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">BUILT</th>
                <td class="table-value">2012</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">GUESTS</th>
                <td class="table-value">12 in 6 cabins</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">PRICE</th>
                <td class="table-value">€21,000,000</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="swiper-slide yahts-swiper-slide">
          <div class="yahts-slide-top">
            <img
              src="./img/yahts/img_04@1x.jpg"
              srcset="
                ./img/yahts/img_04@1x.jpg 1x,
                ./img/yahts/img_04@2x.jpg 2x
              "
              alt="yaht"
              class="yahts-slide-img"
              width="299"
              height="251"
            />
          </div>
          <div class="yahts-slide-body">
            <div class="yahts-slide-title">
              <p class="yahts-slide-name">Ellen</p>
              <p class="yahts-slide-class">LUXURY YAHTS</p>
            </div>
            <table class="yahts-slide-discription table">
              <tr class="table-row">
                <th class="table-title">LENGTH</th>
                <td class="table-value">40m (132ft)</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">SHIPYARD</th>
                <td class="table-value">Perini Navi</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">BUILT</th>
                <td class="table-value">2001 / 2016 (refitted)</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">GUESTS</th>
                <td class="table-value">9 in 4 cabins</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">PRICE</th>
                <td class="table-value">€9,300,000</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="swiper-slide yahts-swiper-slide">
          <div class="yahts-slide-top">
            <img
              src="./img/yahts/img_05@1x.jpg"
              srcset="
                ./img/yahts/img_05@1x.jpg 1x,
                ./img/yahts/img_05@2x.jpg 2x
              "
              alt="yaht"
              class="yahts-slide-img"
              width="299"
              height="251"
            />
          </div>
          <div class="yahts-slide-body">
            <div class="yahts-slide-title">
              <p class="yahts-slide-name">MIRAGE 401</p>
              <p class="yahts-slide-class">LUXURY YAHTS</p>
            </div>
            <table class="yahts-slide-discription table">
              <tr class="table-row">
                <th class="table-title">LENGTH</th>
                <td class="table-value">38m (125ft)</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">SHIPYARD</th>
                <td class="table-value">Gianetti Custom Yachts</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">BUILT</th>
                <td class="table-value">2024</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">GUESTS</th>
                <td class="table-value">10 in 5 cabins</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">PRICE</th>
                <td class="table-value">€13,500,000</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="swiper-slide yahts-swiper-slide">
          <div class="yahts-slide-top">
            <img
              src="./img/yahts/img_06@1x.jpg"
              srcset="
                ./img/yahts/img_06@1x.jpg 1x,
                ./img/yahts/img_06@2x.jpg 2x
              "
              alt="yaht"
              class="yahts-slide-img"
              width="299"
              height="251"
            />
          </div>
          <div class="yahts-slide-body">
            <div class="yahts-slide-title">
              <p class="yahts-slide-name">KING</p>
              <p class="yahts-slide-class">LUXURY YAHTS</p>
            </div>
            <table class="yahts-slide-discription table">
              <tr class="table-row">
                <th class="table-title">LENGTH</th>
                <td class="table-value">33m (109ft)</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">SHIPYARD</th>
                <td class="table-value">Overmarine</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">BUILT</th>
                <td class="table-value">2004 / 2018 (refitted)</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">GUESTS</th>
                <td class="table-value">9 in 4 cabins</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">PRICE</th>
                <td class="table-value">€1,850,000</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="swiper-slide yahts-swiper-slide">
          <div class="yahts-slide-top">
            <img
              src="./img/yahts/img_07@1x.jpg"
              srcset="
                ./img/yahts/img_07@1x.jpg 1x,
                ./img/yahts/img_07@2x.jpg 2x
              "
              alt="yaht"
              class="yahts-slide-img"
              width="299"
              height="251"
            />
          </div>
          <div class="yahts-slide-body">
            <div class="yahts-slide-title">
              <p class="yahts-slide-name">SALT</p>
              <p class="yahts-slide-class">LUXURY YAHTS</p>
            </div>
            <table class="yahts-slide-discription table">
              <tr class="table-row">
                <th class="table-title">LENGTH</th>
                <td class="table-value">32m (105ft)</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">SHIPYARD</th>
                <td class="table-value">SanLorenzo</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">BUILT</th>
                <td class="table-value">2019</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">GUESTS</th>
                <td class="table-value">11 in 5 cabins</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">PRICE</th>
                <td class="table-value">€7,800,000</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="swiper-slide yahts-swiper-slide">
          <div class="yahts-slide-top">
            <img
              src="./img/yahts/img_08@1x.jpg"
              srcset="
                ./img/yahts/img_08@1x.jpg 1x,
                ./img/yahts/img_08@2x.jpg 2x
              "
              alt="yaht"
              class="yahts-slide-img"
              width="299"
              height="251"
            />
          </div>
          <div class="yahts-slide-body">
            <div class="yahts-slide-title">
              <p class="yahts-slide-name">STORM</p>
              <p class="yahts-slide-class">LUXURY YAHTS</p>
            </div>
            <table class="yahts-slide-discription table">
              <tr class="table-row">
                <th class="table-title">LENGTH</th>
                <td class="table-value">32m (103ft)</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">SHIPYARD</th>
                <td class="table-value">Overmarine</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">BUILT</th>
                <td class="table-value">2005 / 2022 (refitted)</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">GUESTS</th>
                <td class="table-value">9 in 4 cabins</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">PRICE</th>
                <td class="table-value">€2,900,000</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="swiper-slide yahts-swiper-slide">
          <div class="yahts-slide-top">
            <img
              src="./img/yahts/img_09@1x.jpg"
              srcset="
                ./img/yahts/img_09@1x.jpg 1x,
                ./img/yahts/img_09@2x.jpg 2x
              "
              alt="yaht"
              class="yahts-slide-img"
              width="299"
              height="251"
            />
          </div>
          <div class="yahts-slide-body">
            <div class="yahts-slide-title">
              <p class="yahts-slide-name">COLLU</p>
              <p class="yahts-slide-class">LUXURY YAHTS</p>
            </div>
            <table class="yahts-slide-discription table">
              <tr class="table-row">
                <th class="table-title">LENGTH</th>
                <td class="table-value">29m (96ft)</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">SHIPYARD</th>
                <td class="table-value">Ferretti</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">BUILT</th>
                <td class="table-value">2014</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">GUESTS</th>
                <td class="table-value">10 in 5 cabins</td>
              </tr>
              <tr class="table-row">
                <th class="table-title">PRICE</th>
                <td class="table-value">$4,300,000</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
