:root {

    /*____________________COLOR___________________________*/
    --mainDark: #11131F;
    --secondDark: #1F212D;
    --accentColor: #93ABAE;
    --gradientColor: linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%);
    --lightColor: #F6F5EF;

    /*____________________FONTS___________________________*/

    --logoFont: "Raleway", sans-serif;


    /*____________________ANIMATION___________________________*/

    --duration: 250ms;
    --timingFunction: cubic-bezier(0.4, 0, 0.2, 1);


    /*____________________FLEX___________________________*/
    --items: 3;
    --indent-column: 24px;
    --indent-row: var(--indent-column);

}